<!DOCTYPE HTML>
<html>

<head>
  <title>NeoPixel Driver</title>
  <meta name="description" content="Neo Pixel Scene Driver" />
  <meta name="keywords" content="Neopixels" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">NeoPixel<span class="logo_colour">Driver</span></a></h1>
          <h2>Simple Web Driven NeoPixel Driver</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/config">Configuration</a></li>
          <li><a href="/command">Command Interface</a></li>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <h2>Command URLS</h2>
      <table>
        <tr>
          <th>URL Called</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td> /command/neo_off </td>
          <td> All NeoPixels to OFF, all threads cancelled.  Can have issues when too many threads are running.</td>
        </tr>
        <tr>
          <td> /command/centre_fade/wash </td>
          <td> Builds the fade to the colours defined in configuration.</td>
        </tr>
        <tr>
          <td> /command/random_change/wash </td>
          <td> Uses a random patern to bring all Pixels to the wash colour defined in the configuration. </td>
        </tr>
        <tr>
          <td> /command/random_change/red[green,amber] </td>
          <td> Uses a random patern to bring all Pixels to Red, Green or Amber. </td>
        </tr>
        <tr>
          <td> /command/rotate </td>
          <td> Rotates all Pixels through R,G,B in a chain, can be resource intensive with chains of more than 150 Pixels. </td>
        </tr>
        <tr>
          <td> /command/blend </td>
          <td> Creates a Blend from Wash 1 on the left to Wash 2 on the right.</td>
        </tr>
        <tr>
          <td> /command/random_pastel </td>
          <td> Calculates a new random pastel colour for each Pixel.</td>
        </tr>
        <tr>
          <td> /command/twinkle[/[int]] </td>
          <td> Starts a thread that continously calculates a new random pastel colour for each Pixel.  The integer value is an optional delay in milliseconds between each calculation.</td>
        </tr>
        <tr>
          <td> /command/twinkle_fade[/[int]] </td>
          <td> Starts a thread that continously calculates a new random pastel colour for each Pixel then fades to that colour.  The integer value is an optional delay in milliseconds between each calculation.</td>
        </tr>
      </table>

      <h2>Internal Connections</h2>
      <table>
        <tr>
          <th>Connection</th>
          <th>Function</th>
        </tr>
        <tr>
          <td> BCM GPIO 5 </td>
          <td> Button 0 - All Off </td>
        </tr>
        <tr>
          <td> BCM GPIO 6 </td>
          <td> Button 1 - Configured Function, default 'rotate' </td>
        </tr>
        <tr>
          <td> BCM GPIO 18 </td>
          <td> NeoPixel Strip 1 Drive </td>
        </tr>
      </table>


    </div>
    <div id="footer">
      Copyright &copy; WbAV Productions | <a href="http://wbavproductions.co.uk">WbAV Productions</a> 
    </div>
  </div>
</body>
</html>
