<!DOCTYPE HTML>
<html>

<head>
  <title>ODrive Driver</title>
  <meta name="description" content="ODrive Web Driver" />
  <meta name="keywords" content="ODrive" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

</head>

<body>

<script>
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('message', {data: 'main index page'});
    console.log("Asked to connect");
});


socket.on('message', function(e){
  console.log("Got Message:", e.status);
  $('#connection_status').text(e.status);
});

socket.on('Position', function(e){
  console.log("Got Position:", e.position);
  console.log("Got Location:", e.location);
  $(e.location).val(e.position);
});


socket.on('odrive_data', function(e){
  console.log("Got data:", e);
  $('#Volts').text(e.volts + 'V');
  $('#Current').text(e.current_limit + 'A');
  $('#Speed').text(e.speed + 'PPS');
  $('#state').text(e.state);
  $('#rotation_velocity').text(e.rotation_velocity + 'PPS');
  $('#estimated_pos').text(e.estimated_pos);
  $('#trajectory_speed_limit').text(e.trajectory_speed_limit + 'PPS');
  $('#command_current').text(e.command_current + 'A');
  $('#measured_current').text(e.measured_current + 'A');
});

// This seems lame! but 10 seconds isn't so much load
setInterval(function(){
  socket.emit('get_data',{'data': 'Asked for odrive_data'})
  }
  ,10000);

</script>
<script>

function journey(data_id) {
    to_pos = $('#' + data_id).val();
    if (to_pos == '') {
        alert("Please enter a Position");
        return;
    }
    speed = $('#' + data_id + 'speed').val();
    socket.emit('do_job',{'trajectory_to': to_pos+'/'+speed});
}

function read_pos(data_id) {
    socket.emit('read_pos',{'location': '#' + data_id}) ;  // ask odrive what the current position is, to be returned named data_is
}

</script>


  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">ODrive<span class="logo_colour">Web Driver</span></a></h1>
          <h2>Simple Web Driven ODrive Interface</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
          <li><a href="/config">Configuration</a></li>
          <li><a href="/command">Command Interface</a></li>
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Information</h3>
        <h4>Version 0.8 Beta</h4>
        <h5>May 11th, 2019</h5>
        <p>First Implementation.</a></p>
        <p></p>
    
        <h3>Source Code</h3>
        <ul>
          <li><a href="https://github.com/AndyThirtover/ODrive-Web">GitHub Project</a></li>
        </ul>
      </div>
      <div id="content">
<table>
  <tr>
    <th colspan='4'>DRIVE PARAMETERS</th>
  </tr>
  <tr>
    <td>BUS VOLTS</td><td class='value' id='Volts'>No Reading</td>
    <td>CURRENT LIMIT</td><td class='value' id='Current'>No Reading</td>
  </tr>
  <tr>
    <td>TO POS SPEED LIMIT</td><td class='value' id='Speed'>No Reading</td>
    <td>TRAJECTORY SPEED</td><td class='value' id='trajectory_speed_limit'>No Reading</td>
  </tr>
  <tr>
    <td>ROTATION VELOCITY</td><td class='value' id='rotation_velocity'>No Reading</td>
    <td>POSITION</td><td class='value' id='estimated_pos'>No Reading</td>
  </tr>
  <tr>
    <td>COMMAND CURRENT</td><td class='value' id='command_current'>No Reading</td>
    <td>MEASURED CURRENT</td><td class='value' id='measured_current'>No Reading</td>
  </tr>
  <tr>
    <td>STATE</td><td class='value' id='state'>No Reading</td>
  </tr>
  <tr>
    <th colspan='4'>BASIC TESTS</th>
  </tr>
  <tr>
    <td class='button' onclick="window.location.href='/queue/scycle/8192/0.1'"> 1 Rev 0.1 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/32767/1'"> 4 Rev 1.0 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/2048/0.01'"> 1/4 Rev 0.01 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/4096/0.06'"> 1/2 Rev 0.06 </td>
  </tr>
  <tr>
    <td class='button' onclick="window.location.href='/queue/scycle/8192'"> 1 Rev S-Cycles </td>
    <td class='button' onclick="window.location.href='/queue/scycle/32767'"> 4 Rev S-Cycles </td>
    <td class='button' onclick="window.location.href='/queue/scycle/2048'"> 1/4 Rev S-Cycles </td>
    <td class='button' onclick="window.location.href='/queue/scycle/4096'"> 1/2 Rev S-Cycles </td>
  </tr>
  <tr>
    <td class='button' onclick="window.location.href='/queue/scycle/2048/0.02'"> 1/4 Rev 0.04 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/2048/0.06'"> 1/4 Rev 0.06 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/2048/0.08'"> 1/4 Rev 0.08 </td>
    <td class='button' onclick="window.location.href='/queue/scycle/2048/0.1'"> 1/4 Rev 0.1 </td>
  </tr>
  <tr>
    <td class='button' onclick="socket.emit('do_job',{'scycle': '2048/0.02'});"> 1/4 Rev 0.02 </td>
    <td class='button' onclick="socket.emit('do_job',{'scycle': '4096/0.04'});"> 1/2 Rev 0.04 </td>
    <td class='button' onclick="socket.emit('do_job',{'scycle': '6000/0.06'});"> 3/4 Rev 0.06 </td>
    <td class='button' onclick="socket.emit('do_job',{'scycle': '8192/0.08'});"> 1 Rev 0.08 </td>
  </tr>
  <tr>
    <th colspan='4'>SET CURRENT LIMIT</th>
  </tr>
  <tr>
    <td class='button' onclick="socket.emit('do_job',{'current': '10'});"> Current 10A </td>
    <td class='button' onclick="socket.emit('do_job',{'current': '20'});"> Current 20A </td>
    <td class='button' onclick="socket.emit('do_job',{'current': '30'});"> Current 30A </td>
    <td class='button' onclick="socket.emit('do_job',{'current': '50'});"> Current 50A </td>
  </tr>
  <tr>
    <th colspan='4'>DRIVE STATE</th>
  </tr>
  <tr>
    <td class='button' onclick="socket.emit('do_job',{'set_state': 'RUN'});"> ENABLE DRIVE </td>
    <td class='button' onclick="socket.emit('do_job',{'set_state': 'IDLE'});"> IDLE DRIVE </td>
    <td class='button' onclick="socket.emit('do_job',{'trajectory_to': '5000/200'});"> Move to 5000/200 </td>
    <td class='button' onclick="socket.emit('do_job',{'cancel_trajectory': 'NOP'});"> Cancel Move </td>
  </tr>
  <tr>
    <th colspan='4'>JOURNEY TEST</th>
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number1');" >Goto NO.1 </td> 
    <td><input id='number1'>Position</input> </td>
    <td><input id='number1speed' value='200'>Speed</input> </td>     
    <td class='button' onclick="read_pos('number1');">READ NO.1</td>
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number2');" >Goto NO.2 </td> 
    <td><input id='number2'>Position</input> </td>
    <td><input id='number2speed' value='200'>Speed</input> </td>     
    <td class='button' onclick="read_pos('number2');">READ NO.2</td>
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number3');" >Goto NO.3 </td> 
    <td><input id='number3'>Position</input> </td>
    <td><input id='number3speed' value='200'>Speed</input> </td>     
    <td class='button' onclick="read_pos('number3');">READ NO.3</td>
  </tr>
  <tr>
    <td class='go_button' onclick="journey('number4');" >Goto NO.4 </td> 
    <td><input id='number4'>Position</input> </td>
    <td><input id='number4speed' value='200'>Speed</input> </td>     
    <td class='button' onclick="read_pos('number4');">READ NO.4</td>
  </tr>
  

</table>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; WbAV Productions | <a href="http://wbavproductions.co.uk">WbAV Productions</a> 
    </div>
  </div>
</body>
</html>
